<app-top-bar></app-top-bar>
<ion-content>
    <div class="contenido">
        <h4><b>Informador Turístico</b></h4>
        <img src="{{ imageURL }}/{{ item.imagen }}?alt=media" class="imagen">

        <h5><b>Horarios</b></h5>
        <p>De Lunes a Viernes de 9 a 13 hs y de 17 a 21 hs</p>
        <p>Sábados y Domingos de 9 a 13 hs</p>

        <h5><b>Contacto</b></h5>
        <p>Teléfono:</p>
        <p>Whatsapp:</p>
        <p>Email:</p>
    </div>
</ion-content>
<app-bottom-bar></app-bottom-bar>
