<app-top-bar></app-top-bar>

<ion-content class="ion-padding">
    <ion-list *ngIf="data && data.length > 0; else noData">
        <div *ngFor="let item of data">
            <div class="card">
                <div class="card-header">
                    <img src="{{ imageURL }}/{{ item.imagen }}?alt=media" class="card-img-top" alt="...">
                </div>
                <div class="card-body" style="margin-top: -15px !important;">
                    <p class="card-text mt-0"><b>{{ item.titulo }}</b></p>
                </div>
            </div>
        </div>
    </ion-list>
    <ng-template #noData>
        <p>Esta sección no tiene datos cargados.</p>
    </ng-template>
</ion-content>

<app-bottom-bar></app-bottom-bar>
