<app-top-bar></app-top-bar>

<ion-content class="ion-padding">
        <h4><b>Recorridos</b></h4>

        <ion-list>
            <div *ngFor="let item of items" style="margin-top: -60px; margin-bottom: 30px;">
                <h5 style="float: left; position: relative; color: #000; background-color: #fff; top: 46px; left: 5px; padding: 5px; border-radius: 4px;"><b>{{ item.titulo }}</b></h5>
                <img src="{{ imageURL }}/{{ item.imagen }}?alt=media" style="border-radius: 2px; width: 100%;">
                <br>                        
                <p><b>Duración:</b> {{ item.duracion }}</p>
                <p>{{ item.texto }}</p>
                <hr>
            </div>
        </ion-list>

</ion-content>

<app-bottom-bar></app-bottom-bar>
